<article class="top-post">
	{%- assign category_name = "" -%}
	<header class="post-header home">
		<div class="post-title"><span id = 'category-title'></span><span class = "tag-title" id='tag-name'></span></div>
	</header>
	
	
	<div class="post-content">
		{%- if site.posts.size > 0 -%}
		<ul class="post-list">
			{%- for post in site.posts -%}
			<li class="post-list-item post-{{post.category}}-{{post.tag}}">
				<!-- {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%} -->
				{%- assign date_format = "%Y/%m/%d" -%}
				<a class="CT-post-link" href="{{ post.url | relative_url }}" >
					{{ post.title | escape }}
				</a>
				
				<span class="post-link-date post-show-date">Posted&nbsp;on&nbsp;{{ post.date | date: date_format }}</span>
				
				<br>
				<span class="post-excerpt">
				
					{%- if post.excerpt_seperator -%}
					{{ post.excerpt  | append: "..."}}
					{%- else if site.show_excerpts -%}
					{{ post.excerpt | strip_html | truncatewords: 50, "..."}}
					{%- endif -%}

				</span>
				
			</li>
		  	{%- endfor -%}
			
			
		</ul>
	  	{%- endif -%}
	</div>
	
</article>
<!-- 여기다가 paginator 설치 -->
<!-- TODO: paginator 클래스 스타일 정의 -->
<!-- TODO: paginator-list 스타일 정의-->

<div class = "paginator">
<li id = 'pg-list' class = "paginator-list">
	
</li>
</div>

<script src="/public/js/jquery-3.4.1.slim.min.js"></script>
<script>
	function removeCategory(ismobile) {
		if (window.location.hash) {
			
			let hash = window.location.hash.substring(1);
			let ctpair = hash.split("/");
			let category_name = decodeURI(ctpair[0]);
			let tag_name = decodeURI(ctpair[1]);

			
			


			$('.CT-post-link').each((i, e) => {

				
				$(e).on('click', function(){
					let iarr = [];
					let strong_element_index;
					//button이고 index 속성을 가지고 있음
					$('#pg-list').children('.index').each((i,e)=>{
						let str = $(e).text();
						let str_int = Number(str);
						iarr.push(str_int);
						
						if($(e).hasClass('strong-prop')){
							strong_element_index = (str_int - 1);
						}

					});

					const postmeta = {
					category: category_name,
					tag: tag_name,
					indexs: iarr,
					strong: strong_element_index,

					}
					

					localStorage.setItem("postmeta", JSON.stringify(postmeta));
				})

			});


			$('#tag-name').text(tag_name.substring(0, 1).toUpperCase() + tag_name.substring(1));
			$('#category-title').text(category_name.substring(0, 1).toUpperCase() + category_name.substring(1)+ ": ");
			let category_class = 'post-'+ category_name +'-'+ tag_name;
			
			let showing_posts = [];
			let items = $('.post-list-item').each((i, e) => {
				if (!$(e).hasClass(category_class)) {
					$(e).hide();
				} else {
					$(e).show();
					showing_posts.push(e);
				}
			});

			return showing_posts;
			//PaginatePosts(showing_posts, ismobile);
			//GetPostlink(showing_posts);
		}
		
	}

	//not using
	function SavePaginatorIndex(list){

		
		
		$(list).children('a').each((i, e) =>
		{
			
			//let aTag = $(e).attr('href');
			$(e).on("click", function() {
				let strong_element = $( '.paginator .strong-prop');
				let str = $(strong_element).text();
				const index = (Number(str) - 1);
				localStorage.setItem("index", JSON.stringify(index));
			});
			

		}
		);
		


		



	}




	//FindCurrentCTPosts: posts를 다시 가공하여 paginate로 보여지는 포스트 수를 제한한다.
	function CalcPaginatorSize(posts, ismobile){
	//posts: removeCategory 함수를 실행하면서 얻은 현재 선택한 카테고리, 태그에 해당하는 포스트들의 배열
		let paginate = "{{ site.number_paginate | json }}";
		if(ismobile){
			paginate = parseInt(paginate / 2);
			
		}
		let size = $(posts).length;
		
		if(size > 0){
			let div = parseInt(size / paginate);
			
			let mod = size % paginate;
			let margin_string = "{{ site.paginate_link_margin | json }}";
			let paginate_margin = Number(margin_string);
			
			let max_index;
			let paginator_size;
			if(mod == 0){
				
				max_index = div;
				if(max_index < paginate_margin){
					paginator_size = max_index;
				}
				else{
					paginator_size = paginate_margin;
				}
				
			}
			else if(mod > 0){
				max_index = div + 1;
				if(max_index < paginate_margin){
					paginator_size = max_index;
					
				}
				else{
					paginator_size = paginate_margin;
				}
				
				
			}

			return [paginator_size, max_index];

			//CreatePaginate(paginator_size, posts, ismobile);
			//CreatePrevNextButton(max_index, posts, ismobile);
			
		}
		
		



	}

	function RecoverPaginate(max_index, paginator_size, showing_posts, ismobile ,indexs, strong){
		
		
		let arr = indexs;
		let size = $(arr).length;
		
		if(size != paginator_size)
		{
			console.log("false");
			return false;
		}
		
		//console.log("paginator_size: " + paginator_size);
		for(i = 0; i < paginator_size ; i++){
			let paginator = document.createElement('button');
			let arr = indexs;

			$(paginator).click(function(){
				//find current element having strong-prop
				let strong_element = $( '.paginator .strong-prop');

				//element that raised click event
				let pag = $(paginator);
				
				if(!pag.hasClass('strong-prop')){
					$(paginator).addClass('strong-prop');
					$(strong_element).removeClass('strong-prop');
					ShowPaginatedPosts(pag, showing_posts, ismobile);
					
				}
				

				

				
			});
			
    		
			
			//index는 paginator index link에 들어갈 숫자값, 1부터 시작
			let index = arr[i];
			$(paginator).text(index);
			
			$('#pg-list').append(paginator);

			let index_str = String(i);
			let indexclass = index_str + "th";
			
			
			//strong은 index 배열에서 strong element의 위치값
			if((index-1) == strong){
				
				
				let attrs = ['strong-prop', 'index' ,indexclass];
				$(paginator).addClass(attrs);
				ShowPaginatedPosts(paginator, showing_posts, ismobile);
				
			}
			else{
				let attrs = ['index' , indexclass];
				$(paginator).addClass(attrs);
			}
			
			

			//paginator의 index 최댓값보다 큰 숫자의 element는 숨김
			if(index > max_index){
				$(paginator).hide();
			}

			
			
			
		}

	}
	

	function CreatePaginate(paginator_size, posts, ismobile){

		
		// let paginate_margin = "{{ site.paginate_link_margin | json }}";
		
		// let limit;

		// if(paginator_size < paginate_margin){
		// 	limit = paginator_size;
			
		// }
		// else{
		// 	limit = paginate_margin;
			
		// }
		

		for(i = 0; i < paginator_size ; i++){
			let paginator = document.createElement('button');
			

			$(paginator).click(function(){
				//find current element having strong-prop
				let strong_element = $( '.paginator .strong-prop');

				//element that raised click event
				let pag = $(paginator);
				
				if(!pag.hasClass('strong-prop')){
					$(paginator).addClass('strong-prop');
					$(strong_element).removeClass('strong-prop');
					ShowPaginatedPosts(pag, posts, ismobile);
					
				}
				

				

				
			});
			
    		
			
			//paginator.setAttribute('onclick', ShowPaginatedPosts);
			$(paginator).text(i + 1);
			$('#pg-list').append(paginator);

			let index_str = String(i);
			let index = index_str + "th";
			if(i == 0){
				let attrs = ['strong-prop', 'index' ,index];
				$(paginator).addClass(attrs);
				ShowPaginatedPosts(paginator, posts, ismobile);
				
			}
			else{
				let attrs = ['index' , index];
				$(paginator).addClass(attrs);
			}

			
			
			
		}
		
	}

	function ShowPaginatedPosts(strong_element, posts, ismobile){
		//let strong_element = $( '.paginator .strong-prop');
		//console.log(strong_element);
		let paginate = "{{ site.number_paginate | json }}";
		if(ismobile){
			paginate = parseInt(paginate / 2);
		}
  		let index_str = $(strong_element).text();
		let index = Number(index_str);
		

		// paginate 값을 절반으로 줄여서 보여주는 포스트 수를 절반으로 줄임
		$(posts).each((i, e) => {
			if(i >= ((index - 1) * paginate) && i <= (index * paginate - 1)){
				$(e).show();
			}
			else{
				$(e).hide();
			}
		});
		
		
		//console.log("posts size:" + posts.size);
		
		
		
	}



	function ResetStrongElement(default_element){
		let strong_element = $( '.paginator .strong-prop');
		if(!($(default_element).hasClass('strong-prop'))){
			$(default_element).addClass('strong-prop');
			$(strong_element).removeClass('strong-prop');
			
		}
	}


	
	function CreatePrevNextButton(size, posts, ismobile){
		
		let page_list = $('#pg-list');
		

		let prev_button = document.createElement('button');
		let next_button = document.createElement('button');
		let margin_string = "{{ site.paginate_link_margin | json }}";
		let paginate_margin = Number(margin_string);
		
		$(prev_button).text("<prev");
		$(next_button).text("next>");
		
		//decide whether expose next prev button
		$(page_list).children().each((i, e) => {

			if($(e).hasClass('index')){

				let int_str = Number($(e).text());
				

				if(int_str == size){
					
					$(next_button).hide();
				}

				if(int_str == 1){
					
					$(prev_button).hide();
				}


			}
		});

		$(prev_button).click(function(){
			let strong_element;
			$(page_list).children().each((i, e) =>{

				//prev, next button이 리스트에 들어와도 index 요소만 처리할 수 있어야함
				if($(e).hasClass('index')){
					//내부에 있는 숫자 string값을 margin 값만큼 줄임
					let str = $(e).text();
					let int_str = Number(str);
					let new_int = int_str - paginate_margin;
					let new_str = String(new_int);
					$(e).text(new_str);

					$(next_button).show();
					

					if(new_int == 1){
						$(prev_button).hide();
					}
					else if(new_int < size){
						$(e).show();
					}
					
					
					//reset strong element to 0th element
					if($(e).hasClass('0th')){
						ResetStrongElement(e);
						strong_element = $(e);
					}
				}

				

				


			});
			ShowPaginatedPosts(strong_element, posts, ismobile);

		});


		$(next_button).click(function(){
			let strong_element;
			$(page_list).children().each((i, e) =>{

				//prev, next button이 리스트에 들어와도 index 요소만 처리할 수 있어야함

				if($(e).hasClass('index')){
					//내부에 있는 숫자 string값을 margin 값만큼 줄임
					let str = $(e).text();
					let int_str = Number(str);
					let new_int = int_str + paginate_margin;
					let new_str = String(new_int);
					$(e).text(new_str);

					$(prev_button).show();
					

					if(new_int == size){
						$(next_button).hide();
					}
					else if(new_int > size){
						$(e).hide();
					}
					
					
					//reset strong element to 0th element
					if($(e).hasClass('0th')){
						ResetStrongElement(e);
						strong_element = $(e);
					}
				
				}
			});
			ShowPaginatedPosts(strong_element, posts, ismobile);

		});


		$(page_list).prepend(prev_button);
		$(page_list).append(next_button);

		
	}

	

	// function ShowNextPrevNavButton(size){

	// 	let page_list = $('#pg-list');
	// 	let paginate_margin = "{{ site.paginate_link_margin | json }}"
	// 	let make_prev = true;
	// 	let make_next = true;
	// 	$(page_list).children().each((i, e) => {
	// 		let text = $(e).text();
	// 		if(text == '1'){
	// 			make_prev = false;
				
	// 			//make prev
	// 		}
	// 		else if(text == String(size)){
	// 			make_next = false;
				
	// 			//make next
	// 		}
	// 	});

	// 	if(make_prev){
	// 			let prev_button = document.createElement('button');
	// 			$(prev_button).text("<prev");
				
	// 			$(prev_button).click(function(){
	// 				let strong_element = $( '.paginator .strong-prop');
	// 				$(page_list).children().each((i, e) =>{

						
	// 					let int_str = Number($(e).text());
	// 					let new_int = int_str - paginate_margin;
	// 					let new_str = String(new_int);
	// 					$(e).text(new_str);
	// 				}
	// 				);

	// 			});

	// 			$(page_list).prepend(prev_button);
				
	// 		}

	// 	if(make_next){
	// 		let next_button = document.createElement('button');
	// 		$(next_button).text("next>");
			
	// 		$(next_button).click(function(){
	// 			let strong_element = $( '.paginator .strong-prop');

	// 			$(page_list).children().each((i, e) =>{	
	// 				if(i == 0 && !($(e).hasClass('strong-prop'))){

	// 				$(e).addClass('strong-prop');
	// 				$(strong_element).removeClass('strong-prop');
						
	// 				}

	// 				let int_str = Number($(e).text());
	// 				let new_int = int_str + paginate_margin;
	// 				let new_str = String(new_int);
	// 				$(e).text(new_str);
	// 				});

	// 				ShowPaginatedPosts(e, posts, ismobile);
					

	// 			});
	// 		$(page_list).append(next_button);
	// 	}

	// }
	
	
	function detectMob() {
    //return ( ( window.innerWidth <= 800 ) && ( window.innerHeight <= 600 ) );
	const toMatch = [
        /Android/i,
        /webOS/i,
        /iPhone/i,
        /iPad/i,
        /iPod/i,
        /BlackBerry/i,
        /Windows Phone/i
    ];
    
    return toMatch.some((toMatchItem) => {
        return navigator.userAgent.match(toMatchItem);
    });
  }

	// function removeCategory() {
	// 	if (window.location.hash) {
			
	// 		let hash = window.location.hash.substring(1);
	// 		let ctpair = hash.split("/");
	// 		let category_name = decodeURI(ctpair[0]);
	// 		let tag_name = decodeURI(ctpair[1]);
	// 		let category_class = '.post-category-' + tag_name;
	// 		let items = $('.post-list-item').each((i, e) => {
	// 			if (!$(e).hasClass('post-category-' + tag_name)) {
	// 				$(e).hide();
	// 			} else {
	// 				$(e).show();
	// 			}
	// 		});
	// 		console.log(items);
	// 	}
	// }



	$(window).on('hashchange', () => {
		$('#pg-list').empty();
		let ismobile = detectMob();
		let showing_posts = removeCategory(ismobile);
		if(showing_posts)
			[paginator_size, max_index]	= CalcPaginatorSize(showing_posts, ismobile);
		
		if(paginator_size && max_index){
			
			CreatePaginate(paginator_size, showing_posts, ismobile);
			CreatePrevNextButton(max_index, showing_posts, ismobile);
		}
		localStorage.clear();
		
		
	});

	$(window).on('beforeunload', () => {

		
	});

	$(document).ready(() => {
		
		$('#pg-list').empty(); 
		let ismobile = detectMob();
		let showing_posts = removeCategory(ismobile);
		if(showing_posts)
			[paginator_size, max_index]	= CalcPaginatorSize(showing_posts, ismobile);
		let postmeta = JSON.parse(localStorage.getItem("postmeta")); 
		
		
		if(postmeta && window.location.hash){
			const [category, tag, indexs, strong] = [postmeta.category, postmeta.tag, postmeta.indexs, postmeta.strong];
			//should be clear for safety
			

			//get tag category from url
			let hash = window.location.hash.substring(1);
			let ctpair = hash.split("/");
			let category_name = decodeURI(ctpair[0]);
			let tag_name = decodeURI(ctpair[1]);
			
			//if ct pairs of postmeta and current page are the same, recover paginator 
			if(category == category_name && tag == tag_name){
				
				
				if(paginator_size && max_index){
					
					//CreatePaginate(paginator_size, showing_posts, ismobile);
					RecoverPaginate(max_index, paginator_size, showing_posts, ismobile, indexs, strong);
					CreatePrevNextButton(max_index, showing_posts, ismobile);
					return;
				}
				

				
			}
			
		}
		
		if(paginator_size && max_index){
			CreatePaginate(paginator_size, showing_posts, ismobile);
			CreatePrevNextButton(max_index, showing_posts, ismobile);
		}

		localStorage.clear();
		//removeCategory(ismobile);
		
		
		
	})
	
</script>