<!-- 기본적으로 모든 페이지가 이 페이지를 가져와 표시하게 할 경우의 html 파일-->
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{%- include head.html -%}
<link href="/public/css/style.css" rel="stylesheet">
<link href = "//fonts.googleapis.com/earlyaccess/hanna.css" rel="stylesheet" type = "text/css">
<link href = "//fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet" type = "text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,600,0,0" />
<style>@import url(/public/css/syntax/{{ site.highlighter-theme }}.css);</style>
<!-- <link rel="stylesheet" href="{{ "/public/css/style.css, " | prepend: site.baseurl }}"> -->
<body>
{%- include header.html -%}




    
<!-- 공사중 -->

{{ content }}
<script src = "/public/js/test.js" defer></script>
</body>