{%- assign e = site.categories[page.category] -%}		
{%- assign f = e -%}
{%- assign arr = "" | split: "," -%}
{%- assign index = 0 -%}
{%- assign cur = 0 -%}
{%- for t in f -%}
	{%- if t == page -%}
		{%- assign cur = index -%}
	{%- endif -%}

	{%- if t.tag == page.tag -%}
		{%- assign index = index | plus: 1 -%}
		{%- assign arr = arr | push: t-%}
	{%- endif -%}
	
{%- endfor -%}

<article class="top-post post-show-list">
	<header class="post-header post-header-post">
		

		<div class="post-title">
			{{ page.title | escape }}
		</div>

		<time class="post-date dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
			{%- assign date_format = site.date_forma | default: "%Y/%m/%d" -%}
			{{ page.date | date: date_format }}
		</time>	

		{%- assign size = arr.size | minus: 1 -%}
		{%- unless cur == size -%}
			{%- assign next = cur | plus: 1 -%}
			{%- assign nextpost = arr[next] -%}
			<span class="material-symbols-outlined google-right-arrow">arrow_right</span>
			<a class = "next-post-link" href="{{ nextpost.url }}">
				{{nextpost.title}}
			</a>
		{%- endunless -%}

		{%- unless cur == 0 -%}
			{%- assign prev = cur | minus: 1 -%}
			{%- assign prevpost = arr[prev] -%}
			<span class="material-symbols-outlined google-left-arrow">arrow_left</span>
			<a class = "prev-post-link" href="{{ prevpost.url }}">
				{{prevpost.title}}
			</a>
		{%- endunless -%}

		
		
	</header>

	<div class="post-content post-content-layout">
		{{ content }}
	</div>

	
</article>

<!-- 뒤로 가기 버튼 추가 -->

